:root {
    --widthPercent: 10%;
  }

.body {
    display: flex;
    background-color: darkgray;
    flex: auto;
    padding: auto;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

  .popupButton {
    background-color: rgb(76, 0, 255);
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 100px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-weight: 900;
    border: none;
}

.row {
    background-color: black;
    display: flex;
    flex: auto;
    aspect-ratio: 1/1;
    width: var(--widthPercent);
}

#container {
    background-color: rgb(79, 0, 153);
    width: 615px;
    height: 615px;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: center;
    justify-self: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.colorChange {
    background-color: aqua;
}